<header class="header" [class.scrolled]="isScrolled">

  <div class="container">

    <div class="logo">
      <a routerLink="/">SINERGIA</a>
    </div>

    <nav class="nav">
      <a routerLink="/">Inicio</a>
      <a routerLink="/carta">Carta</a>
      <a [routerLink]="['/reserva']">Reserva</a>
    </nav>

    <div class="auth">
      <button *ngIf="!isLogged()" routerLink="/login" class="login">Login</button>
      <button *ngIf="!isLogged()" routerLink="/register" class="register">Registro</button>
      <button *ngIf="isLogged()" (click)="logout()" class="register">Log Out</button>
    </div>

  </div>

</header>
