<p>reserva works!</p>

<form (ngSubmit)="onSubmit()">

  <label>Fecha</label>
<input type="date" [(ngModel)]="date" name="date" required>

  <label>Hora</label>

<select [(ngModel)]="hora" name="time" required>

  <option *ngFor="let hora of horasDisponibles" [value]="hora">
    {{hora}}
  </option>

</select>

  <label>Número de personas:</label>
  <input 
    type="number"
    [(ngModel)]="personas"
    name="personas"
    min="1"
    max="8"
    required
  />

  <button type="submit">Reservar</button>

</form>
