<section class="carta-container">
  <h2>Nuestra Carta</h2>

  <!-- Tabs -->
  <div class="tabs">
    <button [class.active]="currentTab === 'normal'" (click)="currentTab = 'normal'">
      Carta Normal
    </button>
    <button [class.active]="currentTab === 'cocteles'" (click)="currentTab = 'cocteles'">
      Cócteles
    </button>
  </div>

  <!-- Lista de platos normal -->
  <ul class="lista-platos" *ngIf="currentTab === 'normal'">
    <li *ngFor="let plato of cartaNormal; let i = index" (click)="togglePlato(i)">
      <div class="titulo-plato">
    <span class="nombre">{{ plato.nombre }}</span>

    <span class="flecha" [class.abierta]="platoDesplegado === i">
      ▼
    </span>
  </div>
      <!-- Contenido desplegable -->
      <div class="detalle" [class.open]="platoDesplegado === i">
        <p>{{ plato.descripcion }}</p>
        <img *ngIf="plato.imagen" [src]="plato.imagen" alt="{{ plato.nombre }}" />
      </div>
    </li>
  </ul>

  <!-- Lista de cócteles -->
  <ul class="lista-platos" *ngIf="currentTab === 'cocteles'">
    <li *ngFor="let coctel of cartaCocteles; let i = index" (click)="toggleCoctel(i)">
      <div class="titulo-plato">
    <span class="nombre">{{ coctel.nombre }}</span>

    <span class="flecha" [class.abierta]="coctelDesplegado === i">
      ▼
    </span>
  </div>

      <div class="detalle" [class.open]="coctelDesplegado === i">
        <p>{{ coctel.descripcion }}</p>
        <img *ngIf="coctel.imagen" [src]="coctel.imagen" alt="{{ coctel.nombre }}" />
      </div>
    </li>
  </ul>
</section>
