<section class="hero">

  <img 
    class="hero-image"
    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/5d/8c/d0/restaurante.jpg?w=1000&h=-1&s=1"
    alt="Restaurante"
  >

  <div class="hero-overlay">

    <p class="letra-sinergia"><span class="letra-s">S</span>INERGIA</p>

    <h2>Sentir, Comer, Disfrutar</h2>

    <div class="hero-buttons">
      <button routerLink="/carta">Ver carta</button>
      <button routerLink="/reserva">Reservar mesa</button>
    </div>

  </div>

</section>
